
en-core-web-sm==3.2.0
huggingface_hub==0.10.1
ipykernel==6.15.2
matplotlib==3.5.0
numpy==1.23.1
pandas==1.5.1
python==3.10.5
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.12.1
spacy==3.2.1
tokenizers==0.11.4
torchaudio==0.12.1
torchtext==0.13.1
torchvision==0.13.1
tqdm==4.64.0 
transformers==4.24.0
keybert==0.7.0
sklearn-crfsuite==0.3.6